homeassistant:
  name: {{ ansible_host }}
  latitude: {{ hass_latitude }}
  longitude: {{ hass_longitude }}
  unit_system: {{ hass_unit_system }}
  time_zone: {{ hass_time_zone }}

http:
  api_password: {{ hass_api_password }}
  server_port: {{ hass_server_port }}
